@import url("https://fonts.googleapis.com/css?family=Open+Sans|Pacifico");
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* line 41, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
body {
  margin: 0 auto;
  padding: 20px;
  background-color: #ffb021;
  font-family: "Open Sans", sans-serif; }
  @media (min-width: 50em) {
    /* line 41, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
    body {
      font-size: 1rem; } }

/* line 51, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
abbr {
  border-bottom: none; }

/* line 55, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
h1,
h2,
h3 {
  font-family: "Pacifico", cursive;
  font-weight: 300; }

/* line 62, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
header {
  text-align: center;
  color: #f0f0df;
  font-weight: bold; }
  @media (min-width: 50em) {
    /* line 62, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
    header {
      grid-column: 1/4;
      grid-row: 1/4;
      text-align: left;
      font-size: 1.6rem;
      line-height: 1.2rem; } }

@media (min-width: 50em) {
  /* line 75, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
  .intro {
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: repeat(7, auto); }
    /* line 80, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
    .intro::after {
      border: 1px solid;
      border-radius: 40%;
      content: url("");
      background-repeat: no-repeat;
      background-attachment: fixed;
      grid-column: 5/7;
      grid-row: 3/5;
      width: 250px;
      height: 250px;
      -webkit-animation: spin 4s linear infinite;
      -moz-animation: spin 4s linear infinite;
      animation: spin 4s linear infinite;
      transform-origin: center; } }

/* line 98, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
.summary {
  font-style: italic;
  font-weight: 300; }
  @media (min-width: 50em) {
    /* line 98, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
    .summary {
      grid-column: 1/8;
      grid-row: 4/6; } }

/* line 107, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
.summary > p {
  text-align: center; }
  @media (min-width: 50em) {
    /* line 107, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
    .summary > p {
      width: 50%;
      font-weight: bold;
      text-align: left; } }

/* line 116, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
.preamble {
  line-height: 1.8rem; }
  @media (min-width: 50em) {
    /* line 116, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
    .preamble {
      grid-column: 7/8;
      grid-row: 7/8;
      position: relative; } }
  /* line 123, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
  .preamble h3 {
    text-align: center; }

/* line 128, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
.preamble,
.participation,
.requirements {
  text-align: center;
  color: #f0f0df;
  background-color: #3f5866;
  border-radius: 5px 5px 30px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 2rem; }

@media (min-width: 50em) {
  /* line 141, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
  .main {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(2, auto); } }

@media (min-width: 50em) {
  /* line 149, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
  .explanation {
    grid-row: 1/2;
    grid-column: 1/2; } }

@media (min-width: 50em) {
  /* line 156, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
  .participation {
    grid-row: 2/3;
    grid-column: 2/3; } }

@media (min-width: 50em) {
  /* line 163, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
  .benefits {
    grid-row: 3/4;
    grid-column: 1/2; } }

@media (min-width: 50em) {
  /* line 170, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
  .requirements {
    grid-row: 4/5;
    grid-column: 1/3; } }

@media (min-width: 50em) {
  /* line 177, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
  footer {
    grid-column: 1/3;
    grid-row: 5/6;
    text-align: center; }
    /* line 182, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
    footer::before {
      content: '\A';
      white-space: pre; } }

/* line 189, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto; }
  @media (min-width: 50em) {
    /* line 189, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
    .wrapper {
      grid-template-columns: 25% 25% 25% 25%;
      position: relative; }
      /* line 196, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
      .wrapper::after {
        content: url("");
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: inline-block;
        position: absolute;
        top: 100px;
        right: 0;
        height: 75%;
        width: 45%;
        border: 1px solid; } }

/* line 211, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
.design-selection {
  grid-row: 1/2;
  grid-column: 1/3;
  width: 100%; }
  @media (min-width: 50em) {
    /* line 211, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
    .design-selection {
      grid-column: 1/3;
      grid-row: 1/2; } }

/* line 222, /Users/a_veites/Desktop/2018/fall-2018/advanced_css/zen-garden/ZenGarden-Project/style.scss */
.design-archives,
.zen-resources {
  grid-row: 2/3; }

/*# sourceMappingURL=style.css.map */
